/* docdash 全局样式 */
.g-tag {
  background: #108ee9;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}

.g-tag:hover::after {
  content: '常用工具函数';
  position: absolute;
  left: 105%;
  top: 0;
  min-width: 300px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 12px;
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
